body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.centered {
  /*position: relative;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.maintext {
  text-align: justify;
  line-height: 1.5em;
}

.p-col-2 {
  width: 50%;
}

.p-col-1,
.p-col-2,
.p-col-3,
.p-col-4,
.p-col-5,
.p-col-6,
.p-col-7,
.p-col-8,
.p-col-9,
.p-col-10,
.p-col-11,
.p-col-12 {
  padding: 0; }