.body {
    padding-top: 1em;
}

.instructions-container {
    padding-bottom: 1em;
}

.response-container {
    padding-left: 1em;
    padding-right: 1em;
}

.grid-below {
    /*padding-top: 2em;*/
}